.weather{
 place-self: center;
 padding: 40px;
 border-radius: 10px;
 background-image: linear-gradient(45deg,#2f4680,#500ae4);
 display: flex;
 flex-direction: column;
 align-items: center;
}

.search-bar{
 display: flex;
 align-items: center;
 gap: 12px;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temp{
    color: #fff;
    font-size: 80px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span{
    display: block;
    font-size: 16px;
}

.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}


@media (max-width: 768px){

    .weather{
        width: 90%;
        padding: 30px;
    }

    .temp{
        font-size: 60px;
    }

    .location{
        font-size: 30px;
    }

    .weather-data{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .weather-data .col{
        justify-content: center;
    }
}

@media (max-width: 480px){

    .weather{
        width: 95%;
        padding: 20px;
    }

    .search-bar{
        width: 100%;
    }

    .search-bar input{
        width: 100%;
        font-size: 16px;
    }

    .search-bar img{
        width: 45px;
        padding: 12px;
    }

    .weather-icon{
        width: 100px;
    }

    .temp{
        font-size: 45px;
    }

    .location{
        font-size: 22px;
    }

    .weather-data .col{
        font-size: 18px;
    }
}